# ignore all node_modules in any subfolder
node_modules/

# ignore build outputs globally
dist/
build/

# ignore environment variables
*.env
*.env.local

# ignore OS system files
.DS_Store
Thumbs.db

# ignore python cache files
__pycache__/
*.pyc
.venv/

package-lock.json
